*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* declarando variáveis */
:root{
    --cor1: #B3BFB8;
    --cor2: rgb(73, 73, 71);
    --cor3: #C05746;
    --cor4: #A2E3C4;
    --cor5: #F0F7F4;
}
.navBar{
    background-color: var(--cor2);
}
.navBox{
    background-color: var(--cor2);
    cursor: pointer;
    color:var(--cor5);
    transition-duration: 150ms;
}
.navBox:hover{
    background-color: var(--cor5);
    color:var(--cor2);
}
.parallax{
    background-image: url("../images/parallaxImg.jpg");
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.parallax h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 10vh;
    padding: 20px;
    letter-spacing: 35px;
    background-color: var(--cor5);
    mix-blend-mode: screen; /* vaza o texto */
}
/* ícones no começo e de redes sociais */
i#iconInicio,#iconFim{
    color: var(--cor5);
}
.iconPhr{
    background-color: var(--cor3);   
}
.frasesIcon{
    color: var(--cor5);
}
.icons{
    background-color: var(--cor3);
}
#iconInicio{
    margin-top: 15px;
}
#iconFim{
    margin-top: 15px;
}
.iconDescr{
    color:var(--cor2);;
}
#titleAlbum{
    width: 100%;
    height: 10vh;
    color: var(--cor3);      
}
#titleVideo{
    color: var(--cor2);
}
#videoIcon{
    cursor: pointer;
    color: var(--cor3);
    transition-duration: 250ms;
}
#videoIcon:hover{
    color: var(--cor1);
}
.about{
    background-color: var(--cor5);
}
.photos img{
    width: 100%;
    height:100%;
}
#mostrarImgDiv{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 10;
    opacity: 0.8;
    background: var(--cor5);
}
.redesContato{
    background-color: var(--cor2);
}
#contatoTitle{
    color: var(--cor5);
}
.iconDescr{
    color: var(--cor5);
}
#iconFim{
    color: var(--cor3);
    transition-duration: 150ms;
}
#iconFim:hover{
    color: var(--cor5);
}
#iconDescr{
    color: var(--cor5)
}
#copyrightFooter{
    background-color: var(--cor3);
    color: var(--cor5);
    display:flex;
    flex-direction: row;
    justify-content: center;

}