@media only screen and (max-width: 768px){

    .navBar{
        position: fixed;
        width: 100%;
    }
    .navBarNoMenu{
        display: none;
    }
    .btnMenu{
        cursor: pointer;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px;
        background-color: var(--cor3);
        transition-duration: 150ms;
    }
    .btnMenu:hover{
        color: var(--cor3);
        background-color: var(--cor5);
    }
    #dropdownInMenu{
        cursor: pointer;
        display: grid;
        grid-template-rows:repeat(5,30px);
        grid-template-columns:auto;
    }
    #logoBack{
        height: 90vh;
    }
    .parallax h1{
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: 8px;
        transform: translate(-86% , -50%);
    }

    /* Icons Começo da página */
    .icons{
        display: grid;
        grid-template-rows: repeat(4,100px);
    }

    /* Sobre Projeto da Focus */
    .aboutProject{
        display: grid;
        grid-template-rows: 10vh 40vh 10vh; 
        grid-template-columns: auto;
    }
    #projectText{
        display: grid;
        grid-template-rows: 10vh 15vh;
        margin: 2vh 5vh 5vh 5vh;
    }
        /* Ícones 1-superior; 2-inferior */
    #iconsProject1{
        margin-top: 20px;
    }
    #iconsProject1,#iconsProject2{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        font-size: 4vh;
    }
    /* Fotos */
    .album{
        display: grid;
        grid-template-rows: repeat(4,30vw);
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;
    }
    #videoPart{
        display: grid;
        grid-template-rows: 10vh 20vh;
        grid-template-columns: auto;
        margin-top: 5vh;
    }
        /* icone youtube */
    #videoIcon{
        font-size: 150px;
    }
    /* Sobre Os Autores */
    .about{
        display: grid;
        grid-template-rows: repeat(4,30vh);
        grid-template-columns: 1fr;
        padding: 3%;
    }
    #aboutText{
        margin: 0 40px 0 40px;
    }
    img.imageUs{
        margin-top: 30px;
        width: 16vh;
    }
    /* Redes sociais */
    .socialMedia{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,100px);
    }
    .socialLink:nth-child(1){
        grid-column: 1/2;
    }
    .socialLink:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .socialLink:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
    }
}